<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Mon site
			{% endblock %}
		</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
    {% include 'partials/navbar.twig' %}
	<body>
		{% block content %}{% endblock %}
	</body>
    {% include 'partials/footer.twig' %}

</html>
